html, body {
    overflow-x: hidden;

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: black;
}


/* END OF COMMON */

/* NAV BAR */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: blanchedalmond;
}

.nav__links {
    display: flex;
    justify-content: center;
    margin: 0;
    list-style: none;
}

.nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 125px;
    color: coral;
    text-decoration: none;
}

/* END OF NAV BAR */

/* HERO AREA */

.hero {
    height: 400px;
    width: 100%;
    background-image: url(../img/pexels-edward-eyer-1049626.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 50px;
}

/* END OF HERO AREA */

/* SEARCH AREA */

.search-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: gray;
    margin: auto;
}

.search-bar {
    margin: auto;
    min-height: 30px;
    min-width: 300px;
}
.button-search {
    margin: auto;
}
.btn {
    min-height: 30px;
    min-width: 100px;
}

/* END OF SEARCH AREA */

/* CATEGORIES AREA */

.categories-bar{
    background-color: burlywood;
}
.categories-container {
    padding-top: 2rem;
}
.choose-category {
    flex-basis: 20%;
    padding: 1.5rem;
    text-align: center;
    color: rgb(230, 228, 228);
    transition: transform 0.5s;
}

.choose-category:hover {
    transform: scale(1.5);
}

 .img {
    width: 60px;
    height: 60px;
}

/* END OF CATEGORIES AREA */

/*FEATURES */

.features {
    background-color: blanchedalmond;
}
.recipes-container {
    display: flex;
    padding: 2rem;
}
.recipe-container {
    flex-basis: 33.333%;
    padding: 1.5rem;
    text-align: center;
    color:blueviolet ;
    transition: transform 0.5s;
}

.recipe-container:hover{
    transform: scale(1.1);
}

.recipe-img {
    height: 200px;
    width: 200px;
    border-radius: 25%;
}
/* END OF FEATURES */

/* FOOTER */

.footer {
    background-color:black;
    margin-top: 0;
    padding: 1rem;
}

.info {
    margin: 0;
}

.info-paragraph {
    color: white;
    margin-top: 0;
} 
.icon-img {
    width: 20px;
    height: 20px;
    padding: 0.5rem;
}

/* END OF FOOTER */

